<div class="row my-3">
  <div class="col-12">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="card-about m-2">
            <h3>About Me</h3>
            <p>
              I have been living and working in Japan for over 3 years now. Teaching helped me develop many skills, but I wanted something more challenging and growth driven.</p>
            <p>
              I began to look back with fondness on my computer programming courses in University. So I randomly bought a C# book in Shibuya and WOW! I quickly did almost half of the book's example tasks.</p>
            <p>
              Fastforward and now I am a full-stack web developer. Please have a look at some of my favorite projects so far.
            </p>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="card-about m-2">
            <h3>Skills</h3>
            <div  class="skill-logo">
              <img src="./images/icons/rails.png" alt="rails logo">
              <img src="./images/icons/html.png" alt="html logo">
              <img src="./images/icons/css.png" alt="css logo">
              <img src="./images/icons/JS.png" alt="JavaScript logo">
              <img src="./images/icons/nodeJS.jpg" alt="node JS logo">
              <img src="./images/icons/bootstrap-logo.png" alt="bootstrap logo">
              <img src="./images/icons/react.png" alt="react logo">
              <img src="./images/icons/github.jpg" alt="github logo">
              <img src="./images/icons/heroku.png" alt="heroku logo">
              <img src="./images/icons/sql.jpg" alt="SQL logo">
              <img src="./images/icons/ibispaint.png" alt=" ibispaint logo">
              <img src="./images/icons/medibang.jpg" alt="medibang logo">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
