<div class="row my-3">
  <div class="col-12">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="card-about m-2">
            <h3>About Me</h3>
            <p>
              I have been in Japan since 02/2020. Teaching helped me develop many skills, but I wanted something MORE.</p>
            <p>
              I looked back on my computer programming courses in University, randomly bought a C# book in Shinjuku and WOWSIES!</p>
            <p>
              Fastforward and now I am a full-stack web developer. Please check out some of my favorite projects so far.
            </p>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="card-about m-2">
            <h3>Skills</h3>
            <div  class="skill-logo">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-original-wordmark.svg" />
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rails/rails-original-wordmark.svg" />
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" />
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" />
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original-wordmark.svg" />
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original-wordmark.svg"/>
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original-wordmark.svg" />
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg" />
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/heroku/heroku-plain-wordmark.svg" />
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original-wordmark.svg" />
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg" />
              <img src="./images/icons/ibispaint.png" alt=" ibispaint logo">
              <img src="./images/icons/medibang.jpg" alt="medibang logo">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
