<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div class="card-about">
        <p>
          I have been living and working in Japan for over 3 years now. Teaching helped me develop many skills, but I wanted something more challenging and growth driven.</p>
        <p>
          I began to look back with fondness on my computer programming courses in University. So I randomly bought a C# book in Shibuya and WOW! I quickly did almost half of the book's example tasks.</p>
        <p>
          Fastforward and now I am a full-stack web developer. Please have a look at some of my favorite projects so far.
        </p>
      </div>
    </div>
  </div>
</div>
