.card-about{
  display: grid;
  margin: auto;
  text-align: center;
  padding: 16px;
  border: 4px, dashed, rgb(110, 110, 110);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #fcf4e7;
}

.card-about img {
  width: 50px;
}

.card-about h3 {
  color: #be8e3a;
}

.skill-logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-about a {
  text-decoration: none;
  color: #be8e3a;
}
